<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magebees" translate="label" sortOrder="100">
            <label>MageBees</label>
        </tab>
        <section id="pagebanner" translate="label" type="text" sortOrder="156" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Page Banner</label>
            <tab>magebees</tab>
            <resource>Magebees_Pagebanner::configuration_settings</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"> 
					<label>Enable Module</label> 
					<comment><![CDATA[Select Yes for display page banner in frontend.]]></comment> 
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model> 
				</field>
			</group>
		</section>
    </system>
</config>
