<?xml version="1.0"?><config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">    <menu>		<add id="Magebees_Promotionsnotification::promotions_content" title="MageBees Manage Notifications" module="Magebees_Promotionsnotification" sortOrder="50" parent="Magento_CatalogRule::promo" action="promotions/notification" resource="Magebees_Promotionsnotification::promotions_content"/>    </menu></config>