<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<blog>
			<general>
				<module_enable_disable>1</module_enable_disable>
				<display_mode>0</display_mode>
				<post_sort_by></post_sort_by>
			</general>
			<blogpage>
				<title>Blog</title>
				<view_style>grid</view_style>
			</blogpage>
			<post_view>
				<related_post>
					<enable>1</enable>
					<count>5</count>
				</related_post>
				<related_products>
					<enable>1</enable>
					<count>5</count>
				</related_products>
				<comment>
					<allow_guest>1</allow_guest>
					<comment_status>0</comment_status>
					<privacy_policy>1</privacy_policy>
					<number_of_comments>5</number_of_comments>
					<number_of_replied>5</number_of_replied>
				</comment>
				<recaptcha>
					<enabled>0</enabled>
				</recaptcha>
				<next_previous_link>
					<enable>1</enable>
				</next_previous_link>
				<like_dislike_post><enable>1</enable></like_dislike_post>
				
			</post_view>
			<post_list>
				<view_style>grid</view_style>
				<post_content_length>20</post_content_length>
				<pagination>6,12,18,24</pagination>
				<feature_image_height>520</feature_image_height>
				<feature_image_width>520</feature_image_width>
				<resize_type>resizeonly</resize_type>
				
			</post_list>
			<product>
				<related_post>
					<enable>1</enable>
					<view_style>grid</view_style>
					<count>5</count>
					<feature_image_height>520</feature_image_height>
					<feature_image_width>520</feature_image_width>
					<resize_type>resizeonly</resize_type>

				</related_post>
			</product>
			<permalink>
				<route>blog</route>
				<redirect_to_no_slash>1</redirect_to_no_slash>
				<type>default</type>
				<post_route>post</post_route>
				<post_sufix>.html</post_sufix>
				<post_use_categories>1</post_use_categories>
				<cateogry_permalink_type>default</cateogry_permalink_type>
				<category_route>cat</category_route>
				<category_sufix>.html</category_sufix>
				<category_use_categories>1</category_use_categories>
				<archive_url_type>default</archive_url_type>
				<archive_route>archive</archive_route>
				<tag_url_type>defaullt</tag_url_type>
				<tag_route>tag</tag_route>
				<tag_sufix>.html</tag_sufix>
				<author_route>author</author_route>
				<author_url_type>default</author_url_type>
				<author_sufix>.html</author_sufix>
				<search_route>blogsearch</search_route>
				
			</permalink>
			<author>
				<enabled>1</enabled>
				<page_enabled>1</page_enabled>
			</author>
			<date>
				<post_publication_date>1</post_publication_date>
				<post_publication_date_format>F d, Y</post_publication_date_format>
			</date>
			<add_this>
				<enabled>0</enabled>
			</add_this>
			<top_navigation>
				<enable_link>1</enable_link>
				<link_text>Blog</link_text>
				<include_categories>1</include_categories>
				<maximum_depth>5</maximum_depth>
			</top_navigation>
		</blog>
    </default>
</config>
