<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Widget">
        <plugin name="widget_image_chooser_plugins_name" type="Magebees\PocoBase\Plugin\Widget\ImagePath" sortOrder="1" disabled="false"/>
    </type>
	<preference for="Magento\Widget\Model\Widget\Instance" type="Magebees\PocoBase\Model\Widget\Instance" />
	<preference for="Magento\Config\Block\System\Config\Edit" type="Magebees\PocoBase\Block\System\Config\Edit" />
</config>