<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<richsnippets>			
			<setting>			
				<enabled>1</enabled>					
			</setting>	
			<product_rich_data>
				<enabled>1</enabled>
				<show_availability>1</show_availability>
				<show_condition>1</show_condition>
				<show_config_as>0</show_config_as>
				<show_group_as>0</show_group_as>
				<description>1</description>
				<show_rating>1</show_rating>
				<custom_property>sku</custom_property>
			</product_rich_data>
			<category>
				<enabled>1</enabled>				
			</category>	
			<breadcrumbs>
				<enabled>1</enabled>	
				<type>0</type>			
			</breadcrumbs>		
			<searchbox>
				<enabled>1</enabled>
				<enable_websitename>1</enable_websitename>
				<websitename>Example.com</websitename>
			</searchbox>
			<organization>
				<enabled>1</enabled>
			</organization>	
			<social_profile>
				<enabled>1</enabled>
			</social_profile>			
		</richsnippets>
    </default>
</config>
