<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<emaileditor>			
			<setting>			
				<enable>1</enable>
				<show_img>1</show_img>				
			</setting>
			<email_header>			
				<header_bgcolor>#D3D3D3</header_bgcolor>
			</email_header>	
			<email_footer>			
				<footer_bgcolor>#D3D3D3</footer_bgcolor>
			</email_footer>	
			<light_logo>			
				<alt_text></alt_text>
				<width>100</width>
				<height>100</height>
				<link>#</link>				
			</light_logo>	
			<dark_logo>			
				<alt_text></alt_text>
				<width>100</width>
				<height>100</height>
				<link>#</link>		
			</dark_logo>
			<top_menu>
				<text_color>#eb5202</text_color>
				<bgcolor>#FFFFFF</bgcolor>
				<padding>10px</padding>
				<item_padding>10px</item_padding>
			</top_menu>
			<body_content>
				<wrapper_bgcolor>#FFFFFF</wrapper_bgcolor>
				<content_bgcolor>#f1f1f1</content_bgcolor>
				<text_color>#000000</text_color>
				<link_color>#006bb4</link_color>
				<total_section_color>#FFFFFF</total_section_color>
			</body_content>
			<h1>
				<text_color>#000000</text_color>		
				<custom_font>Open Sans</custom_font>
				<font_weight>600</font_weight>
				<font_size>18px</font_size>
				<font_style>normal</font_style>
				<line_height>1.5</line_height>
				<letter_space>0.3px</letter_space>
			</h1>
			<h2>
				<text_color>#2c5be8</text_color>		
				<custom_font>Open Sans</custom_font>
				<font_weight>600</font_weight>
				<font_size>18px</font_size>
				<font_style>normal</font_style>
				<line_height>1.5</line_height>
				<letter_space>0.3px</letter_space>
			</h2>	
			<h3>
				<text_color>#2c5be8</text_color>		
				<custom_font>Open Sans</custom_font>
				<font_weight>600</font_weight>
				<font_size>18px</font_size>
				<font_style>normal</font_style>
				<line_height>1.5</line_height>
				<letter_space>0.3px</letter_space>
			</h3>	
			<p>
				<text_color>#2c5be8</text_color>		
				<custom_font>Open Sans</custom_font>
				<font_weight>400</font_weight>
				<font_size>16px</font_size>
				<font_style>normal</font_style>
				<line_height>1.5</line_height>
				<letter_space>0.3px</letter_space>
			</p>	
			<button>
				<text_color>#fff</text_color>
				<bgcolor>#0d6eb5</bgcolor>
				<border_color>#0d6eb5</border_color>
				<hover_color>#000</hover_color>	
			</button>	
			<comment>
				<text_color>#007bdb</text_color>
				<bgcolor>#ccd3e8</bgcolor>
			</comment>						
		</emaileditor>
    </default>
</config>
