.clear { clear: both; }
.clearfix:after, .clearfix:before { content: ""; display: table; clear: both; }

.hide-cat-more { display: none !important; }
.hide-tag-more { display: none !important; }
.show-more-cat, .show-more-tag { cursor: pointer; padding: 0 5px; text-decoration: underline; }

/* Paging Toolbar */
.mb-blog-toolbar:after, .mb-blog-toolbar:before { content: ""; display: table; clear: both; }
.mb-blog-toolbar .limiter { float: right; }
.mb-blog-toolbar .pages { display: inline-block; margin-bottom: 0; }
.mb-blog-toolbar .pages strong.page { padding: 0 12px; vertical-align: middle; border-radius: 100px; }
.mb-blog-toolbar .pages a.page { padding: 0 12px; color:#a4a4a4; vertical-align: middle; }
.mb-blog-toolbar .pages a:hover.page { background: #e5e5e5; border-radius: 100px; }
.mb-blog-toolbar .pages .item { margin-right: 1px; }
.mb-blog-toolbar .pages .action { background: #f5f5f5; vertical-align: middle; border-radius: 0; box-shadow: none; -webkit-box-shadow: none; border: 0; position: relative; width: 15px; height: 30px; border-radius: 100px; }
.mb-blog-toolbar .pages .action:hover { background: #e5e5e5; }
.mb-blog-toolbar .pages .action.next { margin-left: 5px; }
.mb-blog-toolbar .pages .action.next:before { left: 50%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(51, 51, 51, 0); border-left-color: #333; border-width: 5px; margin-top: -5px; margin-left: -2px; }
.mb-blog-toolbar .pages .action.previous { margin-right: 5px; }
.mb-blog-toolbar .pages .action.previous:before { right: 50%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(51, 51, 51, 0); border-right-color: #333; border-width: 5px; margin-top: -5px; margin-right: -2px; }
.mb-blog-toolbar.toolbar select { border-radius: 0; background-color: #f0f0f0; box-shadow: none; border: 0; }
.mb-blog-toolbar.bottom { margin: 20px 0 0; border-top: 1px solid #ddd; padding-top: 20px; }
.mb-blog-toolbar.top { margin: 0 0 20px; border-bottom: 1px solid #ddd; padding-bottom: 20px; }
/* End Paging Toolbar */

/* Subcategory Section */
.mb-blog-description { margin-bottom: 20px;  }
.mb-subcategory-links:after, .mb-subcategory-links:before { content: ""; display: table; clear: both; }
.mb-subcategory-links { background-color: #f5f5f5; padding: 20px; margin-bottom: 20px; }
.mb-subcategory-links .items { margin: 0; padding: 0; list-style: inside; }
.mb-subcategory-links .items .item { float: left; width: 33.33%; }
.mb-subcategory-links .items .item a { color: #000; }
.mb-subcategory-links .items .item a:hover { color: #333; }
/* End Subcategory Section */

.mb-post-links .mb-link-items { padding: 20px 0 20px 20px; }
.mb-post-links .mb-link-items .item { margin-bottom: 20px; }

/* Sidebar Blocks */
.mb-block { margin-bottom: 30px; border: 1px solid #ddd; padding: 15px; }
.mb-block .block-title strong { font-size: 16px; text-transform: uppercase; margin-bottom: 15px; display: block; font-weight: bold; }
.mb-block ul { padding: 0; margin: 0 0 0 15px; list-style: none; }
.mb-block ul li { margin: 0 0 5px; list-style: disc;  }
.mb-block ul li ul li { list-style: circle; padding-left: 0; padding-top: 5px; margin: 0; }
.mb-block ul li a { color: #333; }
.mb-block ul li a:hover { color: #555; }

.mb-block-search input { background-color: #f0f0f0; border: 0; height: 40px; line-height: 40px; border: 1px solid transparent; padding-right: 35px; position: static; }
.mb-block-search input:not([disabled]):focus { box-shadow: none; border: 1px solid #999; }
.mb-block-search .form { position: relative; }
.mb-block-search  label { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; text-decoration: none; display: inline-block; }
.mb-block-search .control { border-top: 0; margin: 0; padding: 0; clear: both; }
.mb-block-search .action.search { position: absolute; right: 5px; top: 12px; z-index: 1; display: inline-block; background-image: none; background: none; -moz-box-sizing: content-box; border: 0; box-shadow: none; line-height: inherit; margin: 0; padding: 0; text-decoration: none; text-shadow: none; font-weight: 400; }
.mb-block-search .action.search:before { -webkit-font-smoothing: antialiased; content: ''; margin: 0; vertical-align: top; display: inline-block; overflow: hidden; speak: none; width: 22px; height: 22px; background: url(../images/mb-search-icon.png) no-repeat 0 0; opacity: 0.5; }
.mb-block-search .action.search > span { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.mb-block-tags .tags-content:after, .mb-block-tags .tags-content:before { content: ""; display: table; clear: both; }
.mb-block-tags .tags-title { float: left; background-color: #f0f0f0; border-radius: 3px; padding: 3px 12px; margin-bottom: 10px; margin-right: 8px; }
.mb-block-tags .tags-title a { color: #000; }
.mb-block-tags .tags-title a:hover { text-decoration: none; }
.mb-block-tags .tags-title:hover { text-decoration: none; background-color: #ddd; }

.mb-recent-post .items { list-style: none; padding: 0; margin: 0; }
.mb-recent-post .items .item { list-style: none; padding: 0 0 10px; margin: 0 0 10px; display: table; width: 100%; border-bottom: 1px dotted #ccc; } 
.mb-recent-post .items .item:last-of-type { border-bottom: 0; padding-bottom: 0; margin-bottom: 0; }
.mb-recent-post .mb-thumb { width: 28%; padding-right: 10px; display: table-cell; vertical-align: top; }
.mb-recent-post .detail { display: table-cell; vertical-align: top; }
.mb-recent-post .detail .title { line-height: normal; margin-bottom: 5px; display: block; }
.mb-recent-post .detail .mb-time { color: #888; font-size: 11px; text-transform: uppercase; margin-bottom: 0; }

.mb-block-recent-comments .mb-time { color: #999; font-size: 11px; text-transform: uppercase; padding-top: 3px; }
.mb-block-recent-comments .mb-author { color: #888; font-size: 12px; padding: 5px 0 0 20px; background: url(../images/mb-user-icon.png) no-repeat 0 5px; display: block; }
.mb-block-recent-comments .mb-comment { font-style: italic; }
/* End Sidebar Blocks */

/* Post Grid/List View */
.mb-post-gridview .items { list-style: none; padding: 0; margin: 0; }
.mb-post-gridview .item { float: left; width: 48.75%; margin-right: 2.5%; margin-bottom: 30px; }
.mb-post-gridview .item:nth-of-type(2n) { margin-right: 0; }
.mb-post-gridview .item:nth-of-type(2n+1) { clear: left; }
.mb-post-gridview .addthis_toolbox a { float: none; }
.mb-post-gridview .addthis_toolbox .at-icon-wrapper { vertical-align: middle; }
.mb-post-listview .item { width: 100%; border-bottom: 1px dotted #ccc; padding-bottom: 20px; margin-bottom: 20px; }
.mb-post-listview .item:last-of-type { border-bottom: 0; padding-bottom: 0; }
.mb-post-listview .featured-image { margin-bottom: 10px; display: block; }
.mb-post-listing .mb-featured-image { margin-bottom: 10px; text-align: center; }
.mb-post-listing .mb-featured-image img { display: block; margin: 0 auto; }
.mb-post-listing .mb-post-title { font-size: 22px; line-height: normal; font-weight: bold; margin: 0 0 10px; }
.mb-post-listing .mb-post-listview .mb-post-title { font-size: 26px; }
.mb-post-listing .mb-post-title a { color: #000; }
.mb-post-listing .mb-post-title a:hover { color: #006bb4; text-decoration: none; }
.mb-post-listing .mb-post-meta { font-size: 13px; margin-bottom: 15px; }
.mb-post-listing .addthis_toolbox a { margin-bottom: 0; vertical-align: middle; }
.mb-post-listing .mb-post-meta .item-meta { display: inline-block; vertical-align: middle; }
.mb-post-listing .mb-post-meta .item-meta .label { font-weight: 600; text-transform: uppercase; }
.mb-post-listing .mb-post-meta .addthis_toolbox { padding-right: 0; }
.mb-post-listview .mb-post-meta .addthis_toolbox { float: none; }
.mb-post-listing .mb-meta-footer { font-size: 13px; }
.mb-post-listing .mb-meta-footer .item-meta { display: inline-block; vertical-align: middle; padding-right: 10px; margin-bottom: 0; }
.mb-post-listing .mb-meta-footer .item-meta .label { color: #000; font-weight: 600; text-transform: uppercase; }
.mb-post-listing .mb-meta-footer .item-meta a { color: #000; padding: 3px 5px; background-color: #efefef; white-space: nowrap; margin-bottom: 5px; display: inline-block; border-radius: 4px; }
.mb-post-listing .at-icon-wrapper { vertical-align: middle; }
.mb-post-listing .mb-post-excerpt { margin-bottom: 20px; }
.mb-post-listing .mb-read-btn { display: block; margin-top: 10px; }
.mb-post-listview .item .mb-read-btn { margin-top: 15px; }
.mb-post-readmore { padding: 5px 10px !important; font-size: 12px !important; text-transform: uppercase; border-radius: 0 !important; }
.mb-post-listing .mb-post-text { font-size: 15px; }
.mb-post-listing .mb-post-text ul { margin: 0 0 0 15px; padding: 0; list-style: none; }
.mb-post-listing .mb-post-text ul li { list-style: disc; margin: 0 0 5px; }
/* End Post Grid/List View */


/* Post View Page  */
.mb-post-viewpage .mb-post-content ol { padding-left: 20px; }
.blog-post-view .page-title { font-weight: bold; font-size: 34px; margin-bottom: 10px; line-height: normal; }
.mb-post-viewpage .mb-post-header { margin-bottom: 20px;  }
.mb-post-viewpage .mb-metadata { font-size: 13px; margin-bottom: 0; }
.mb-post-viewpage .mb-metadata .item-meta .label { font-weight: 600; text-transform: uppercase; }
.mb-post-viewpage .mb-metadata .item-meta:after,
.mb-post-listing .mb-post-meta .item-meta:after { display: inline-block; content: ' | '; color:#b9b9b9; padding: 0 3px; }
.mb-post-viewpage .mb-metadata .item-meta:last-of-type:after,
.mb-post-listing .mb-post-meta .item-meta:last-of-type:after { content: ''; display: none; }
.mb-post-viewpage .mb-metadata .item-meta { display: inline-block; color: #444; vertical-align: middle; padding-right: 0; }
.mb-post-viewpage .mb-featured-thumb { margin-bottom: 20px; }
.mb-post-viewpage .mb-post-content { font-size: 15px; }
.mb-post-viewpage .mb-post-content h2 { color: #000; font-weight: 600; clear: both; }
.mb-post-viewpage .mb-post-content h3 { color: #000; margin-bottom: 20px; clear: both; }
.mb-post-viewpage .mb-post-content img[style="float: left;"] { float: left; margin:10px 20px 20px 0; height: auto; }
.mb-post-viewpage .mb-post-content img[style="float: right;"] { float: right; margin:10px 0 20px 20px; height: auto; }
.mb-post-viewpage .mb-post-content .aligncenter { margin:0 auto 20px; display: block; }
.mb-postview-footer:before, .mb-postview-footer:after { content: ''; clear: both; display: block; }
.mb-postview-footer { background-color: #f0f0f0; padding: 20px; margin: 20px 0; }
.mb-postview-footer .item-meta { display: block; float: right; }
.mb-postview-footer .mgblog-post-vote { display: inline-block; }
.mb-postview-footer .mgblog-post-vote .amblog-vote { color: #000; font-weight: 600; display: inline-block; vertical-align: middle; padding-right: 15px; }
.mb-postview-footer .mgblog-post-vote .mgblog-options { display: inline-block; vertical-align: middle; }
.mgblog-post-vote .mgblog-plus, .mgblog-post-vote .mgblog-minus { font-size: 15px; text-transform: uppercase; font-weight: 600; display: inline-block; padding-right: 15px; cursor: pointer; }
.mgblog-post-vote .mgblog-plus .mgblog-icon { background: url(../images/mb-like-icon.png) no-repeat; padding-left: 20px; }
.mgblog-post-vote .mgblog-minus .mgblog-icon { background: url(../images/mb-dislike-icon.png) no-repeat; padding-left: 20px; }
.mb-postview-footer .addthis_toolbox a { margin-bottom: 0; }
.mb-postview-footer .addthis_toolbox .label { color: #000; float: left; text-transform: uppercase; font-weight: 600; padding-right: 5px; padding-top: 2px; }
.mb-postview-footer .addthis_toolbox .at-icon-wrapper,
.mb-post-listview .mb-post-meta .addthis_toolbox .at-icon-wrapper { vertical-align: middle; }

.mb-postview-pagination:before, .mb-postview-pagination:after { content: ''; clear: both; display: block; }
.mb-postview-pagination { padding: 10px 0; margin-bottom: 20px; font-size: 18px; text-transform: uppercase; font-weight: bold; }
.mb-postview-pagination .mb-next a { float: right; background: url(../images/mb-arrow-l.png) no-repeat right 50%; padding-right: 25px; }
.mb-postview-pagination .mb-prev a { background: url(../images/mb-arrow-r.png) no-repeat left 50%; padding-left: 25px; }

.mb-comment-form { padding: 30px; background-color: #f0f0f0; margin-bottom: 30px; }
.mb-comment-form .legend { color: #000; font-size: 28px; text-transform: uppercase; border-bottom: 0; font-weight: bold; margin: 0 0 10px; }
.mb-comment-form .fieldset { margin-bottom: 20px; }
.mb-comment-form .fieldset br { display: none; }
.mb-comment-form .fieldset > .fields > .field > .label { margin-bottom: 3px; }
.mb-comment-form .fieldset .fields:before, .mb-comment-form .fieldset .fields:after { content: ''; clear: both; display: table; }
.mb-comment-form .fieldset .fields .field { width: 50%; float: left; padding-right: 10px; box-sizing: border-box; margin: 0 0 15px; }
.mb-comment-form .fieldset .fields .field.last { padding-left: 10px; padding-right: 0; }
.mb-comment-form .fieldset input[type="text"], .mb-comment-form .fieldset input[type="author_email"] { background: #fff; border: 1px solid #c2c2c2; border-radius: 1px; 
        font-size: 14px; height: 40px; line-height: 1.42857143; padding: 0 9px; vertical-align: baseline; width: 100%; box-sizing: border-box; }
.mb-comment-form input:not([disabled]):focus, .mb-comment-form textarea:not([disabled]):focus { box-shadow: none; border-color: #555 !important; }

.mb-comment-form .actions-toolbar { margin-bottom: 20px; }
.mb-comment-form .actions-toolbar .action.submit.primary { font-size: 15px; text-transform: uppercase; padding: 15px 30px; border-radius: 0; }

.mb-comment-list { border-top: 2px dotted #ccc; padding-top: 30px; padding-bottom: 30px; }
.mb-comment-list h2 { margin-top: 0; font-weight: bold; text-transform: uppercase; }
.mb-comment-list .mb-c-comment > .c-comment { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dotted #ccc; }
.mb-comment-list .mb-c-comment > .c-comment:last-of-type { border-bottom: 0; }
.mb-comment-list .mb-c-comment .p-text { margin-bottom: 10px; }
.mb-c-comment .c-comment .p-name { color: #000; font-weight: 600; margin-bottom: 0; }
.mb-comment-list .reply-me { color: #000; font-size: 12px; background-color: #ddd; font-weight: 600; text-transform: uppercase; display: inline-block; padding: 3px 10px 3px 25px; 
        background-image: url(../images/mb-reply-icon.png); background-repeat: no-repeat; background-position: 8px 50%; }
.mb-comment-list .publish-date { color: #888; font-size: 13px; padding-left: 5px; }
.mb-comment-list .c-comment-parent { padding-left: 20px; border-left: 1px dotted #b1b1b1; margin-top: 15px; }
.mb-comment-list .c-comment-parent .c-post { padding-bottom: 10px; }

.blog-post-view .modal-popup._inner-scroll .modal-inner-wrap { width: 100%; max-width: 670px; }
.blog-post-view .modal-popup .modal-header { padding-top: 2rem; }
.blog-post-view .modals-overlay { background-color: rgba(0, 0, 0, 0.75) !important; }
.mb-comment-form-popup { background-color: transparent; padding: 0; }
.mb-comment-form-popup .fieldset > .field { margin-bottom: 15px; }

.mb-post-gallery { margin: 20px 0 0; }
.mb-post-gallery h2 { margin-top: 0; text-transform: uppercase; font-weight: bold; }
.mb-post-gallery .item { float: left; width: 23.5%; margin: 0 2% 2% 0; }
.mb-post-gallery .item:nth-of-type(4n) { margin-right: 0; }
.mb-post-gallery .item:nth-of-type(4n+1) { clear: left; }
.mb-post-gallery .item img { display: block; }

.page-main .block.mb-related-post { margin-bottom: 30px;  }
.mb-related-post { border-top: 2px dotted #ccc; padding-top: 30px; }
.mb-related-post .block-title strong { font-size: 20px; text-transform: uppercase; margin: 0 0 20px; display: block; }
.mb-related-post ol { list-style: none; padding: 0; margin: 0; }
.mb-related-post .item { float: left; width: 18.40%; margin-right: 2%; box-sizing: border-box; }
.mb-related-post .item:last-of-type { margin-right: 0; }
.mb-related-post .item .featured-img { display: block; margin-bottom: 10px; }
.mb-related-post .item a { color: #000; }
.mb-related-post .item a:hover { color: #006bb4; }

.mb-related-products { border-top: 2px dotted #ccc; padding-top: 30px; }
.mb-related-products .block-title strong { font-size: 20px; text-transform: uppercase; }
.mb-related-products .related-available .product-item-name { margin-left: 0 !important; }
.mb-related-products .product-item-info { width: 100%; }
.mb-related-products .products-grid .product-item { width: 19.19%; }

.fancybox-navigation button { border: 0; box-shadow: none; -webkit-box-shadow: none; }
.fancybox-navigation button:hover { border: 0; }
/* End Post View Page  */

/* Product Page Related Post */
.mb-product-related-posts .block-title strong { font-size: 20px; text-transform: uppercase; margin: 0 0 20px; display: block; }
.mb-product-related-posts .items { list-style: none; padding: 0; margin: 0; }
.mb-product-related-posts .item { float: left; width: 23.5%; margin-right: 2%; margin-bottom: 20px; }
.mb-product-related-posts .item:nth-of-type(4n) { margin-right: 0; }
.mb-product-related-posts .item:nth-of-type(4n+1) { clear: left; }
.mb-post-grid-block .mb-post-meta { margin-bottom: 10px; }
.mb-post-grid-block .mb-post-meta .meta-item { font-size: 13px; display: inline-block; vertical-align: middle; }
.mb-post-grid-block .mb-post-meta .meta-item .label { color: #444; font-weight: 600; text-transform: uppercase; }
.mb-post-grid-block .mb-post-meta .meta-item:after { display: inline-block; content: ' | '; color:#b9b9b9; padding: 0 3px; }
.mb-post-grid-block .mb-post-meta .meta-item:last-of-type:after { content: ''; display: none; }
.mb-post-grid-block .addthis_toolbox a { margin-bottom: 0; }
.mb-post-grid-block .addthis_toolbox .at-icon-wrapper { vertical-align: middle; }
.mb-post-grid-block .mb-fetured-thumb { margin-bottom: 15px; }
.mb-post-grid-block .mb-fetured-thumb img { display: block; }
.mb-post-grid-block .mb-post-excerpt { margin-bottom: 15px; }
.mb-post-title { color: #000; font-size: 18px; line-height: normal; font-weight: bold; margin: 0 0 10px; }
.mb-post-title a { color: #000; }
.mb-post-title a:hover { color: #006bb4; text-decoration: none; }
/* End Product Page Related Post */


.mb-widget-post-grid .widget-heading { text-align: center; margin-bottom: 30px; }
.mb-widget-post-grid .widget-heading .widget-title .title { font-size: 28px; text-transform: uppercase; margin: 0 0 10px; font-weight: bold; }
.mb-widget-post-grid .widget-heading .widget-description { color: #666; font-size: 14px; font-weight: normal; }
.mb-widget-post-grid .item { float: left; width: 32%; margin-right: 2%; margin-bottom: 2%; }
.mb-widget-post-grid .item:nth-of-type(3n) { margin-right: 0; }
.mb-widget-post-grid .item:nth-of-type(3n+1) { clear: left; }


#at-expanded-menu-host .at-expanded-menu-service-list button { box-shadow: none; -webkit-box-shadow: none; }