<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<layerednavigation>			
			<setting>			
				<enable>1</enable>									
				<layer_collapse>1</layer_collapse>		
				<vertical_scroll>100</vertical_scroll>							
				<top_filter_template>0</top_filter_template>							
				<default_swatch_config>1</default_swatch_config>							
				<multiselect_swatch>1</multiselect_swatch>							
			</setting>	
			<category_filter>	
				<enable>1</enable>	
				<display_mode>0</display_mode>	
				<enable_multiselect>0</enable_multiselect>	
				<show_count>1</show_count>	
				<nav_block_pos>0</nav_block_pos>	
				<collapse_cat>1</collapse_cat>	
				<sort_order>1</sort_order>	
			</category_filter>	
			<price_filter>					
				<enable>1</enable>			
				<price_type>0</price_type>	
				<unfold_option>4</unfold_option>				
				<price_from_to>0</price_from_to>			
				<nav_block_pos>0</nav_block_pos>			
				<show_product_count>1</show_product_count>			
				<collapse_price>1</collapse_price>									
			</price_filter>
			<brands>			
				<brand_attribute_code>layernav_brand</brand_attribute_code>			
				<brand_url_key>brand</brand_url_key>			
			</brands>	
			<rating_filter>			
				<enabled>1</enabled>
				<enabled_catalogsearch>0</enabled_catalogsearch>
				<label>Rating Filter</label>			
				<url_param>rat</url_param>
				<collapse_rating>1</collapse_rating>			
				<nav_block_pos>0</nav_block_pos>									
				<sort_order>10</sort_order>							
			</rating_filter>	
			<stock_filter>			
				<enabled>1</enabled>	
				<enabled_catalogsearch>0</enabled_catalogsearch>
				<label>Stock Filter</label>			
				<url_param>in-stock</url_param>
				<nav_block_pos>0</nav_block_pos>									
				<collapse_stock>1</collapse_stock>
				<sort_order>10</sort_order>						
			</stock_filter>
			<seo_setting>
				<url_type>0</url_type>
				<include_attribute>0</include_attribute>
				<include_attribute_data>0</include_attribute_data>
				<replace_char>0</replace_char>
				<replace_char_all>0</replace_char_all>
				<seperate_char>0</seperate_char>
				<url_key>layer</url_key>
				<nofollw_price>1</nofollw_price>
				<noindex_price>1</noindex_price>
				<rel_nofollow_price>1</rel_nofollow_price>
			</seo_setting>			
		</layerednavigation>
    </default>
</config>
