@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
	font-display: swap;
			src: url(http://127.0.0.1/media/pocothemes/default_fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_chQG5ZyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
	font-display: swap;
			src: url(http://127.0.0.1/media/pocothemes/default_fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_d_QG5ZyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
	font-display: swap;
			src: url(http://127.0.0.1/media/pocothemes/default_fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_dNQG5ZyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
	font-display: swap;
			src: url(http://127.0.0.1/media/pocothemes/default_fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_ehR25ZyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
	font-display: swap;
			src: url(http://127.0.0.1/media/pocothemes/default_fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_eYR25ZyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
	font-display: swap;
			src: url(http://127.0.0.1/media/pocothemes/default_fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_f_R25ZyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
	font-display: swap;
			src: url(http://127.0.0.1/media/pocothemes/default_fonts/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_fWR25ZyEU.ttf) format('truetype');
}
